<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weatherapp">

    <!--permission for network state-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--permission for internet access-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--Default Application is WeatherApplication-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_cloud_circle"
        android:label="@string/app_name"
        android:name=".WeatherApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".dashboard.views.DashBoardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".dashboard.views.DeletionService"
            android:enabled="true" />
    </application>

</manifest>